<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracker</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <h1 class="text-center">Time Tracker</h1>
    <div class="text-center">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
        </button>
        <!-- TODO: Make these buttons less hardcoded. Probably when adding and deleting categories.-->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#" onclick="selectCategory('Work')">Work</a>
            <a class="dropdown-item" href="#" onclick="selectCategory('Study')">Study</a>
            <a class="dropdown-item" href="#" onclick="selectCategory('Exercise')">Exercise</a>
        </div>
        <button id="startButton" class="btn btn-primary" onclick="startTimer()">Start Timer</button>
        <button id="stopButton" class="btn btn-danger" onclick="stopTimer()">Stop Timer</button>
    </div>
    <div class="mt-4">
        <p id="status" class="alert alert-info"></p>
        <p id="elapsed_time" class="alert alert-warning"></p>
        <p id="timer" class="alert alert-primary">00:00:00</p>
    </div>

    <!-- JavaScript -->
    <script>

        //Flag to indicate if timer is running
        let timerRunning = false;
        let intervalId;

        //variables for timer
        let seconds = 0;
        let minutes = 0;
        let hours = 0;

        async function startTimer() 
        {
            const response = await fetch('/start_timer', { method: 'POST' });
            const data = await response.json();
            document.getElementById('status').innerText = data.message;
            timerRunning = true;
            clearInterval(intervalId)
            intervalId = setInterval(updateTimer, 1000);

            //Disable the start button and change its text
            const startButton = document.getElementById('startButton');
            startButton.disabled = true;
            startButton.classList.add('btn-secondary');
            startButton.classList.remove('btn-primary');
            startButton.innerText = 'Timer Running';
        }


        async function stopTimer() 
        {
            const response = await fetch('/stop_timer', { method: 'POST' });
            const data = await response.json();
            document.getElementById('status').innerText = data.message;
            console.log(data)
            document.getElementById('elapsed_time').innerText = 'Elapsed Time: ' + data.elapsed_time + ' seconds';
            clearInterval(intervalId);
            timerRunning = false;

            //Enable the start button and reset its text
            const startButton = document.getElementById('startButton');
            startButton.disabled = false;
            startButton.classList.add('btn-primary');
            startButton.classList.remove('btn-secondary');
            startButton.innerText = 'Start Timer';
        }


        async function checkElapsedTime() 
        {
            if(timerRunning){
                const response = await fetch('/elapsed_time');
                const data = await response.json();
                document.getElementById('elapsed_time').innerText = 'Elapsed Time: ' + data.elapsed_time + ' seconds';
                console.log('Elapsed Time: ', data.elapsed_time)
            }

        }


        function updateTimer()
        {
            const timerElement = document.getElementById('timer');

            seconds++;
            if(seconds >= 60)
            {
                seconds = 0;
                minutes++;
                if(minutes >= 60)
                {
                    hours++;
                }
            }

            //format as HH:MM:SS
            const formattedTime = `${pad(hours)}:${pad(minutes)}:${pad(seconds)}`;
            timerElement.textContent = formattedTime;
        }


        //Helper function to pad single-digit numbers with a leading zero
        function pad(num) 
        {
            return num.toString().padStart(2, '0');
        }

        
        function selectCategory(categoryName) 
        {
            //Update the category button text
            document.getElementById('dropdownMenuButton').textContent = categoryName;

            //Save the selected category
            selectedCategory = categoryName;
        }

        
    </script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Old popper version - not compatible with bootstrap version
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
