<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Tracker</title>

    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <h1 class="text-center">Time Tracker</h1>
    <div class="text-center">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
        </button>
        <div class="dropdown-menu p-2" aria-labelledby="dropdownMenuButton" id="categoryDropdown">
            <!-- Dynamically inserted categories and input/button here -->
        </div>
        <button id="startButton" class="btn btn-primary">Start Timer</button>
        <button id="stopButton" class="btn btn-danger">Stop Timer</button>
    </div>
    <div class="mt-4">
        <p id="status" class="alert alert-info"></p>
        <p id="elapsed_time" class="alert alert-warning"></p>
        <p id="timer" class="alert alert-primary">00:00:00</p>
    </div>

    <!-- JavaScript -->
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>


    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
